{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Online Shop - {% block title %}Home{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo left" style="margin-left: 20px;">Online Shop</a>
        <ul id="nav-mobile" class="right">
          <li><a href="{% url 'homepage' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </div>
    </nav>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{% static 'materialize/js/materialize.js' %}"></script>
    <script>
      M.AutoInit();
    </script>
  </body>
</html>
